@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DriverTrackingMaster_LayoutPage1.cshtml";
}

<div class="row" style="text-align:left;"> 

<div class="col-sm-8" style="background-color:white; text-align:center; padding:10px;">
<img src="~/Content/1.png" style="width:100%; height:300px;" />

<h4 style="text-align:left"><b>History</b></h4>
<ul class="days">  
  <li>Day 1</li>
  <li>Day 2</li>
  <li>Day 3</li>
  <li>Day 4</li>
  <li>Day 5</li>
  <li>Day 6</li>
  <li>Day 7</li>
</ul>
</div> 

    <div class="col-sm-4" style="background-color:WindowFrame; background-image:url(../Content/bg3.jpg);  background-position:center; color:black; text-align:center; padding:10px;">
           <div style="background-color:black; color:white; padding:6px;" ><h5>User Details</h5></div>
        <div>
     
            @using GPSTrackingWebApp
            
                  @{
                        mygpsEntities2 db = new mygpsEntities2();
                        var t = db.persontrackings.ToList();

                        foreach (persontracking k in t)
                        {
                         if(k.email.Equals(Session["email"]))
                            {
                                 <img src="@k.pimg" width="50" height="50" style=" border-radius:60px; color:white; padding:10px; width:120px; height:120px; text-align:center;">
                                                            <br /><font style="color:green; font-size:x-large;">@k.pname<br /> </font>                           
                            }
                        }

                        }

        </div>

        <div>
    @using GPSTrackingWebApp
                @{
                    mygpsEntities2 dp = new mygpsEntities2();
                    var d = db.persontrackings.ToList();
                    foreach(persontracking k in d)
                    {
                        if (k.email.Equals(Session["email"]))
                        {
                <table class="table">
                <thead >
               <tr >
               <th style="color:red;">UserId :</th>
               <th>@k.pid</th>
              </tr>
              </thead>
                     <thead >
               <tr >
               <th style="color:red;">Email</th>
               <th>@k.email</th>
              </tr>
              </thead>
                     <thead >
               <tr >
               <th style="color:red;">Contact</th>
               <th>@k.contact</th>
              </tr>
              </thead>
                     <thead >
               <tr >
               <th style="color:red;">RContact1</th>
               <th>@k.rcontact1</th>
              </tr>
              </thead>
                                         <thead >
               <tr >
               <th style="color:red;">RContact2</th>
               <th>@k.rcontact2</th>
              </tr>
              </thead>
                                         <thead >
               <tr >
               <th style="color:red;">RContact3</th>
               <th>@k.rcontact3</th>
              </tr>
              </thead>
                                         <thead >
               <tr >
               <th style="color:red;">RContact4</th>
               <th>@k.rcontact4</th>
              </tr>
              </thead>

              </table>
                        }
                    }
                }
        </div>
    </div>

      </div>

